<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<title>{{.Title}}</title>
	</head>
	<body>
		<p>{{.Msg}}</p>
        <form action="/data_response" method="post">
            <input type="text" name="id" value="">
            <input type="submit" name="" value="Отправить">
        </form>
	</body>
</html>