<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<p> Data </p>
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <td>Order_uid</td>
                <td>Track_number</td>
                <td>Entry</td>
                <td>Locale</td>
                <td>Internal_signature</td>
                <td>Customer_id</td>
                <td>Delivery_service</td>
                <td>Shardkey</td>
                <td>Sm_id</td>
                <td>Date_created</td>
                <td>Oof_shard</td>
            </tr>
            <tr>
                <td>{{.Order_uid}}</td>
                <td>{{.Track_number}}</td>
                <td>{{.Entry}}</td>
                <td>{{.Locale}}</td>
                <td>{{.Internal_signature}}</td>
                <td>{{.Customer_id}}</td>
                <td>{{.Delivery_service}}</td>
                <td>{{.Shardkey}}</td>
                <td>{{.Sm_id}}</td>
                <td>{{.Date_created}}</td>
                <td>{{.Oof_shard}}</td>
            </tr>
        </table>
        <p> Delivery </p>
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <td>Name</td>
                <td>Phone</td>
                <td>Zip</td>
                <td>City</td>
                <td>Address</td>
                <td>Region</td>
                <td>Email</td>
            </tr>
            <tr>
                <td>{{.Delivery.Name}}</td>
                <td>{{.Delivery.Phone}}</td>
                <td>{{.Delivery.Zip}}</td>
                <td>{{.Delivery.City}}</td>
                <td>{{.Delivery.Address}}</td>
                <td>{{.Delivery.Region}}</td>
                <td>{{.Delivery.Email}}</td>
            </tr>
        </table>
        <p> Payment </p>
        <table border="1" cellpadding="5" cellspacing="5">
            <tr>
                <td>Transaction</td>
                <td>Request_id</td>
                <td>Currency</td>
                <td>Provider</td>
                <td>Amount</td>
                <td>Payment_dt</td>
                <td>Bank</td>
                <td>Delivery_cost</td>
                <td>Goods_total</td>
                <td>Custom_fee</td>
            </tr>
            <tr>
                <td>{{.Payment.Transaction}}</td>
                <td>{{.Payment.Request_id}}</td>
                <td>{{.Payment.Currency}}</td>
                <td>{{.Payment.Provider}}</td>
                <td>{{.Payment.Amount}}</td>
                <td>{{.Payment.Payment_dt}}</td>
                <td>{{.Payment.Bank}}</td>
                <td>{{.Payment.Delivery_cost}}</td>
                <td>{{.Payment.Goods_total}}</td>
                <td>{{.Payment.Custom_fee}}</td>
            </tr>
        </table>
        
        <p> Items </p>
        <table border="1" cellpadding="5" cellspacing="5">
            <ul>
                {{range .Items}}
                <tr>
                    <td>Chrt_id</td>
                    <td>Track_number</td>
                    <td>Price</td>
                    <td>Rid</td>
                    <td>Name</td>
                    <td>Sale</td>
                    <td>Size</td>
                    <td>Total_price</td>
                    <td>Nm_id</td>
                    <td>Brand</td>
                    <td>Status</td>
                </tr>
                <tr>
                    <td>{{.Chrt_id}}</td>
                    <td>{{.Track_number}}</td>
                    <td>{{.Price}}</td>
                    <td>{{.Rid}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Sale}}</td>
                    <td>{{.Size}}</td>
                    <td>{{.Total_price}}</td>
                    <td>{{.Nm_id}}</td>
                    <td>{{.Brand}}</td>
                    <td>{{.Status}}</td>
                </tr>
                {{end}}
            </ul>
        </table>
	</body>
</html>